.header {
  text-align: center;

  &--img{
    padding-top: 2rem;
    width: 200px;
  }

  &--title{
    padding-top: 1rem; 
    font-family: 'Lato', sans-serif; 
    font-size: 2em; 
    font-weight: 300; 
    line-height: 58px;
  }
}

.app {
  width: 90%;
  max-width:  calc(290px * 3 + 4rem);
  margin: auto;
  padding: 1rem;
  background-color: #F5F6FB;
}